html {
  height: 100%;
  font-family: 'Montserrat';
}

body {
  background-color: rgb(212, 212, 225);
}
body.backlogin {
  background-image: url('../img/fondos/LoginBackground.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Asegura que el contenedor tenga la altura completa de la vista */
  width: 100%;
}

@media (max-width: 768px) {
  body.backlogin {
    background-size: contain; /* Ajusta el tamaño de la imagen en pantallas más pequeñas */
    background-color: #240018;
  }
  body.backregister{
    background-size: contain; /* Ajusta el tamaño de la imagen en pantallas más pequeñas */
    background-color: #051a46;
  }
  body.custom-background{
    background-size: contain; /* Ajusta el tamaño de la imagen en pantallas más pequeñas */
    background-color: #10193c;
  }
}

@media (max-width: 480px) {
  body.backlogin {
    background-size: contain;
    background-color: #240018;
    background-position: top; /* Ajusta la posición de la imagen en pantallas muy pequeñas */
  }
  body.backregister{
    background-size: contain;
    background-color: #051a46;
    background-position: top;
  }
  body.custom-background{
    background-size: contain;
    background-color: #10193c;
    background-position: top;
  }
}

body.backregister{
  background-image: url('../img/fondos/passforgot.webp') ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Asegura que el contenedor tenga la altura completa de la vista */
  width: 100%;
}
.logincontainer {
 
  display: flex;
  /* Alinea los elementos verticalmente */
  justify-content: center;
  /* Centra los elementos verticalmente en el contenedor */
  align-items: center;
  /* Centra los elementos horizontalmente en el contenedor */
  height: 100vh;
  /* 100% de la altura de la ventana del navegador */
  width: 100%;
  /* Se extiende a lo ancho del contenedor (usualmente el viewport) */
}

.logologin {
  max-width: 40%;
  /* Hace que la imagen sea responsive y no sobrepase el contenedor */
  height: auto;
  /* Mantiene la proporción de la imagen al ajustar el ancho */
  margin-bottom: 400px;
  /* Espacio entre la imagen y el formulario */
}

.logoregister {
  max-width: 600px;
  /* Hace que la imagen sea responsive y no sobrepase el contenedor */
  height: auto;
  /* Mantiene la proporción de la imagen al ajustar el ancho */
  margin-bottom: -50px;
  /* Espacio entre la imagen y el formulario */
}

form {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
  padding: 30px 30px 30px 30px;
  border-radius: 10px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 300ms, box-shadow 300ms;
  -moz-transition: -moz-transform 300ms, box-shadow 300ms;
  transition: transform 300ms, box-shadow 300ms;
  box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
  color: #fff;
}
form a{
  color: darkgray;
}
form::before,
form::after {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  border-top-left-radius: 40%;
  border-top-right-radius: 45%;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 40%;
  z-index: -1;
}

form::before {
  left: 40%;
  bottom: -130%;
  background-color: #1D3557;
  -webkit-animation: wawes 6s infinite linear;
  -moz-animation: wawes 6s infinite linear;
  animation: wawes 6s infinite linear;
}

form::after {
  left: 50%;
  bottom: -125%;
  background-color: #f45b69;
  -webkit-animation: wawes 7s infinite;
  -moz-animation: wawes 7s infinite;
  animation: wawes 7s infinite;
}

form input,
form select,
form textarea {
  font-family: "Asap", sans-serif;
  display: block;
  border-radius: 5px;
  font-size: 16px;
  background: white;
  width: 100%;
  border: 0;
  padding: 10px 10px;
  margin: 15px -10px;
}

form button {
  font-family: "Asap", sans-serif;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  width: 80px;
  border: 0;
  padding: 10px 0;
  margin-top: 10px;
  margin-left: -5px;
  border-radius: 5px;
  background-color: #f45b69;
  -webkit-transition: background-color 300ms;
  -moz-transition: background-color 300ms;
  transition: background-color 300ms;
}

form button:hover {
  background-color: #1D3557;
}

@-webkit-keyframes wawes {
  from {
    -webkit-transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes wawes {
  from {
    -moz-transform: rotate(0);
  }

  to {
    -moz-transform: rotate(360deg);
  }
}

@keyframes wawes {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

a {
  padding-left: 35px;
  text-decoration: underline;
  color: #53532e;
  bottom: 10px;
  font-size: 15px;
}
.modal-comentarios {
  position: fixed;
  top: 0;
  z-index: -1100 !important;
  width: 100vw;
  height: 100vh;
}

/* Estilo para el fondo oscuro */
.modal-backdrop.modal-comentarios {
    background-color: rgba(0, 0, 0, 0.5); /* Color negro con una opacidad del 50% */
}

/* Estilo para el modal */
.modal.modal-comentarios {
    background-color: #ffffff; /* Color de fondo del modal */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Sombra para el modal */
    border-radius: 10px; /* Bordes redondeados */
}

/* Estilo para el título del modal */
.modal-title.modal-comentarios {
    color: #333; /* Color del texto del título */
    font-weight: bold; /* Peso de la fuente del título */
    border-bottom: 1px solid #ccc; /* Línea divisoria bajo el título */
    padding-bottom: 10px; /* Espaciado inferior */
    margin-bottom: 10px; /* Margen inferior */
}

/* Estilo para el cuerpo del modal */
.modal-body.modal-comentarios {
    color: #666; /* Color del texto del cuerpo */
}

/* Estilo para los botones del modal */
.modal-footer.modal-comentarios {
    background-color: #f8f9fa; /* Color de fondo del pie del modal */
    border-top: none; /* Sin borde superior */
}

/* Estilo para el botón de cierre del modal */
.modal-header .close.modal-comentarios {
    color: #333; /* Color del icono de cierre */
    font-size: 30px; /* Tamaño del icono de cierre */
    opacity: 1; /* Opacidad completa */
    padding: 10px; /* Espaciado interior */
}

/* Estilo para el botón de cierre del modal al pasar el ratón */
.modal-header .close.modal-comentarios:hover {
    color: #000; /* Color del icono de cierre al pasar el ratón */
}
/* styles.css */

body.custom-background {

  background-image: url('../img/fondos/registro.webp') ;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Asegura que el contenedor tenga la altura completa de la vista */
  width: 100%;
}

.overlay {
  /*background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;

}

.login_form {
  display: flex;
  flex-direction: column;
}

.text_login {
  margin: 10px 0;
  font-size: 1.2em;
  color: #fff;
  
}

.text_login a {
  text-decoration: none;
  color: #fff;
  font-size: large;
}

.text_login a:hover {
  text-decoration: underline;
}
.card-resultados{
  width: 400px !important;
}
/* Media Queries para responsividad */
@media (max-width: 600px) {
  .overlay {
    padding: 15px;
    text-align: center;
  }

  .text_login {
    font-size: 1em;
  }

  .text_login a {
    font-size: 1em;
  }
  
  .logologin {
    max-width: 100%;
  }
  .login{
    width: 80%;
  }
  .card-resultados{
    width: 200px;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  padding: 8px 12px;
  border: 1px solid #ccc;
}
th {
  background-color: #f4f4f4;
}
.eye-button {
  background: none !important;
  border: none !important;
  cursor: pointer !important;
  position: absolute !important;
  right: 0px;
  top: 60%;
  transform: translateY(-50%);
}

.form-group {
  position: relative;
}

.floating-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Asegura que esté por encima de otros elementos */
  /* Otros estilos para el div flotante */
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
}
